<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDoVita</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
    />
  </head>
  <body>
    <div id="app">
      <div class="header">
        <div class="container">
          <div class="logo">ToDoVita</div>
          <div class="form">
            <input type="text" v-bind:value="valueInput"
            v-on:input="handlyInput" // v-on:keypress.enter="addTask" // />
            <button class="btn" v-on:click="addTask">Добавить</button>
          </div>
        </div>
      </div>
      <div class="container">
        <h2>
          <span>Нужно сделать</span>
          <span class="mask-num">{{needDoList.length}}</span>
        </h2>
        <ul class="mask-list">
          <li v-for="(mask, index) in needDoList" :key="mask.id">
            <div>
              <input type="checkbox" v-on:change="doCheck(index, 'need')" />
              <span v-on:click="doCheck(index, 'need')">{{mask.title}}</span>
            </div>
            <button class="btn-remove" v-on:click="removeMask(index, 'need')">
              Удалить
            </button>
          </li>
        </ul>
        <h2>
          <span>Сделала</span>
          <span class="mask-num">{{completeList.length}}</span>
        </h2>
        <ul class="mask-list complete-list">
          <li v-for="(mask, index) in completeList" :key="mask.id">
            <div>
              <input
                type="checkbox"
                v-on:change="doCheck(index, 'complete')"
                checked
              />
              <span v-on:click="doCheck(index, 'complete')"
                >{{mask.title}}</span
              >
            </div>
            <button
              class="btn-remove"
              v-on:click="removeMask(index, 'complete')"
            >
              Удалить
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="tods" id="app1">
      <h1 class="heading">Список задач с важными/обычными делами</h1>

      <ol class="todo-list">
        <newtask1
          v-for="(co, index) in comp"
          v-bind:co="co"
          v-bind:key="co.id"
          v-bind:title="co.title"
          v-on:remove="comp.splice(index, 1)"
        ></newtask1>
      </ol>

      <form class="todo-form">
        <label class="input-label" for="todo-input">Добавьте задачу</label>
        <input
          v-model="val"
          type="text"
          class="todo-input"
          id="todo-input"
          required
        />
        <button
          type="button"
          class="todo-priority"
          v-bind:class="{important : selected}"
          @click="toggleclass"
        >
          {{textbtn}}
        </button>
        <button type="button" class="todo-add" @click="addquest">
          Добавить в список
        </button>
      </form>
    </div>
    <div id="app2">
      <div class="display">{{test}}</div>
      <button
        v-for="(n, index) in numbers"
        v-bind:key="n.id"
        v-on:click="test = test + n"
      >
        {{ n }}
      </button>
      <button v-on:click="deltext">del</button>
    </div>

    <script src="vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
